h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;

}
ul{
	margin: 0;
	padding: 0;
}
.container{
	width: 1200px;
}
.gutter-10{
	margin-right: -5px;
  margin-left: -5px;
  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
header {
	width: 100%;
	
	.tp-header{
		padding: 12px 0;
		    opacity: 0.8;
		    position: fixed;
		    width: 100%;
		    z-index: 1;
		background: #f4f4f4;
		ul li a{
			text-transform: uppercase;
			color: #363636;
			font-weight: bold;
			font-size: .8em
		}

	}
	.bt-header{
		width: 100%;
		background: #f1f1f1;
		.slide1{
			position: relative;
			.content-slide{
				position: absolute;
				bottom: 0;
				left: 0;
				text-align: center;
				line-height: 4em;
				p{
					color: #6c3c33;
					font-size: 1.2em;
				}
				h3{
					color: #789629;
					font-size: 2.5em;
					font-weight: normal;
				}
				a{
					color: #353535;
					text-transform: uppercase;
					text-decoration: underline;
				}
			}
		}
	}
}
main{
	.info{
		padding: 25px;
		margin-bottom: 10px;
	}
	.ratio-block{
		width: 100%;
		
		position: relative;
		overflow: hidden;
		
		.bg-sua{
			background: #e3ce33;
			width: 100%;
		}
		.bg-nuochoa{
			background: #cbd3df;
		}
		.bg-trangsuc{
			background: #88d8da;
		}
		.content-sua {
			position: absolute;
		    top: 50%;
		    left: 0;
		    width: 100%;
		    transform: translateY(-50%);
		    text-align: center;
		    color: #fff;
		    p{
		    	text-transform: uppercase;
		    	
		    }
		    .line{

		    	&:after{
		    		content: "";
		    		border-bottom: 1px solid #fff;

		    	}
		    }
		    
		}
		&--one-one {
			padding-top: 100%;
		}
		&__elem{
			position: absolute;
			top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
	.tamgiac{
		   	content: "";
		    width: 0;
		    height: 0;
		    top: 50%;
		    position: absolute;
		    left: -7%;
		    border-bottom: 25px solid transparent;
		    border-right: 35px solid  #e3ce33;
		    border-top: 25px solid transparent;	
			z-index: 1;

		    }
    .tamgiac1{
   	content: "";
    width: 0;
    height: 0;
    top: 50%;
    position: absolute;
    right: -7%;
    border-bottom: 25px solid transparent;
    border-left: 35px solid  #cbd3df;
    border-top: 25px solid transparent;	
	z-index: 1;

    }
    .tamgiac2{
		   	content: "";
    width: 0;
    height: 0;
    top: 50%;
    position: absolute;
    right: -7%;
    border-bottom: 25px solid transparent;
    border-left: 35px solid   #88d8da;
    border-top: 25px solid transparent;	
	z-index: 1;	

		    }
		    .tamgiac3{
		   	content: "";
		    width: 0;
		    height: 0;
		    top: 50%;
		    position: absolute;
		    left: -18px;
		    border-bottom: 25px solid transparent;
		    border-right: 35px solid  #f49ac2;
		    border-top: 25px solid transparent;	
			z-index: 1;

		    }
    .corinne{
    	.icon-play{
    		width: 12%;
    		height: 12%;
			padding: 1.5em;
			background: #000;
			opacity: .8;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			line-height: 12%;
			a {
				font-size: 25px;
			}
		}
    }
    .banner{
    	padding: 73px 0;
    	
    	.banner-item{
    		background-image: url('../images/bg-banner.png') ;
    	background-repeat: no-repeat;
    	background-position: right;
    	.content-banner{
    		p{
    			margin-top: 2%;
    			span{
    				font-style: italic;
    				color: #737373;
    			}
    		}
    	}
    	}
    	img{ 
    		padding: 5px;
    		border-radius: 50%;
    		border: .2em solid #cbd4b3; 
    	}
    	
    }
    .product{
    	padding: 80px;
    	padding-bottom: 50px;
    	background-image: url('../images/bg-product.jpg');
    	.top-menu{
    		padding-bottom: 3%;
    	}
    	.top-menu ul li a{
			border-right: 1px solid #ccc;
  			padding: 0 20px;
  			color: #c1c1c1;

    	} 
    	.top-menu ul li:last-child a{
    		border: none;
    	}
    	.top-menu ul li:nth-child(2) a{
  				color: green ;
  				font-weight: bold; 
  			}
  		.bt-menu{
  			padding-top: 3%;
  			padding-bottom: 3%;
  			ul li a{
  				color: #c1c1c1;
  				padding: 0 10px;
  			}
  		}
  		&__item{
  			background: #fff;
  			padding: 9% 0;
  			min-height: 412px;
			&:hover{
				.btn-option{
					display: block;
  			// transition: all 1s;

				}
			}
  			.img-product-item{
  				padding: 12px 0;
  				border-bottom: 1px dotted #ccc;
  				width: 100%;
  				height: 200px;
  				overflow: hidden;

  				img {
  					height: 100%; 
  					width: auto;
  				}
  			}
  			.if-product-item{
  				padding: 5% 2%;

  				h6{
  					color: #ccc;
  					text-transform: uppercase;
  				}
  				p{
  					color: #000;
  				}
  				span{
  					color: red;
  				}
  			}
  			.btn-option{
  				display: none;
				transition: 1s;
				a{
  				border-radius: .8rem;
  				}
  			} 
  		}
    }
}
.owl-prev span{
	position: absolute;
	top: 47%; 
	left: 19%;
}.owl-next span{
	position: absolute;
	top: 47%; 
	right: 19%;
}


section{
	padding: 45px 0;
	.tp-sec-menu ul li{
		padding: 0 1em;
		&:hover a{
			color: #000;
			span:first-child{
				border: 2px solid #000;
			}
		}
		a{
			color: #ccc;
			span:first-child{
		 	padding: 8px;
			border: 2px solid #ccc;
			border-radius: 50px;
			margin-right: .8em;

		}

		
	}
	}
	.content-sec{
		margin-top: 70px;
		h5{
			text-transform: uppercase;
			text-align: center;
		}
		img{
			padding: 30px 0;
		}
		h6{
			text-transform: uppercase;
			font-size: .8em
		}
		p{
			padding: 1em 0;
			color: #5d5d5d;
		}
		a:hover{
				text-decoration: none;
			
			
		}
	}
	.sec-item .list-tag{
		margin-top: 60px;
		line-height: 3em;
		a{
			margin-right: .5em;
			color: #6d6d6d;
			&:hover{
				background: #789629;
				color: #fff
			}
			&:first-child{
				background: #789629;
				color: #fff
			}
		}
	}
}
footer{
	width: 100%;
	background: #000;
	color: #3f3f3f;
	.top-footer{
		padding: 3.2em 0;
		line-height: 1.8em;
		border-bottom: 1px solid #3f3f3f;
		h5{
			text-transform: uppercase;
			color: #d1d1d1;
			margin-bottom: 1em
		}
		p{
			font-size: .9em;
		}
		ul li a{
			text-decoration: none;
			color: #3f3f3f;
			transition: .5s;
			font-size: .9em;
			&:hover{
				color: #789629;
				list-style-type: disc;
			}
		}
	}
	.bottom-footer{
		padding: 1.2em;
	}
}
.active-color{
	color: #789629;
}
